<% require 'countries/global' %>

<tr style="height: 60px">
  <td><%= Country[location.country_code].emoji_flag %></td>
  <td><%= location.name %></td>
  <td><%= location.latitude %></td>
  <td><%= location.longitude %></td>
  <td><%= location.elevation %></td>
  <td><%= location.population %></td>
  <td><%= link_to "See Weather", location_path(location.name, latitude: location.latitude, longitude: location.longitude), class: "see-weather ml-2 rounded-lg py-3 px-5 bg-white inline-block font-medium" %></td>
</tr>
