<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Locations" %>

  <div class="flex justify-center items-center">
    <%= form_tag(locations_path, method: "get") do %>
      <div class= "rounded-lg shadow p-1 pr-2 bg-white">
        <%= text_field_tag "name", nil, placeholder: "Search for a city", class: "border-none valid:bg-white focus-outline:none focus:ring-0" %>
        <%= submit_tag 'submit' %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Locations</h1>
  </div>

  <table id="locations" class="table-auto border-collapse w-full">
    <thead>
      <tr>
        <th></th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
    <% @locations.each do |location| %>
      <%= render location, location: %>
    <% end %>
    </tbody>
  </table>
</div>
